.paper{
    

    a{
        color: grey;
        text-transform: none;
        text-decoration: none;
        font-size: 0.9rem;
    }
}
.readArrow{
    float:right
}
.image{
    width:100%;
    border-radius: 10px;
    margin-left: -13px;
}

.favorite{
    
}