.paper{
    

    a{
        color: grey;
        text-transform: none;
        text-decoration: none;
        font-size: 0.9rem;
    }
}
.readArrow{
    float:right
}
.image{
    width:100%;
}

.favorite{
    float: left;
    top: 10px;
    left: 10px;
}