.paper{
    

    a{
        color: grey;
        text-transform: none;
        text-decoration: none;
        font-size: 0.9rem;
    }
}
.readArrow{
    float:right
}
.image{
    margin-top:10px;
    width:100%;
    max-width: 300px;
    min-width: 200px;
}

.favorite{
    float: left;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.iconButtonMobile{
    svg{
        font-size:2rem
    }

}


.registrationBox{
    border-left: 4px solid #e99208;
    padding-left: 3px;
}
.etageChip{
    float: right;
    background: #808080;
    color: white;
    padding: 2px 5px;
    border-radius: 15px;
    font-size: 0.9rem;
    margin-top: 6px;
}