html {
    background-color: #efefef;
}

body {
    background-color: transparent !important;
}
video{
    object-fit: cover;
}

.registrationChip{
    background: #e99208;
    color: white;
    font-weight: bold;
    svg{
        color: white !important;
    }
}